@import './../scss/variables';
@import './../scss/mixins';

.aboutUs,
.news, {
  background-color: $grey-background;
  &Content {
    text-align: left;
    h2 {
      @include font-title;
    }
    span {
      font-size: 1.5rem;
      font-style: italic;
    }
  }
  .title {
    background-color: $grey-background;
    z-index: 2;
  }
  .cardsContainer {
    display: flex;
    overflow: hidden;
  }
  .newsContainer {
    display: flex;
    padding-bottom: 2rem;
    overflow: hidden;
  }
}
