@import './../scss/variables';
@import './../scss/mixins';

.aboutUs,
.news, {
  background-color: $grey-background;
  &Content {
    h2 {
      @include font-title;

      @media screen and (max-width: 320px){
        text-align: center;

      }
    }
    span {
      font-size: 1.5rem;
      font-style: italic;
    }
    @media screen and (max-width: 320px){
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2rem;

    }
  }
  .title {
    background-color: $grey-background;
    z-index: 2;
  }
  .cardsContainer {
    display: flex;
    overflow: scroll;

    @media screen and (max-width: 320px){
      flex-direction: column;
      overflow: unset;

    }
  }
}
