@import 'src/scss/variables';
@import 'src/scss/mixins';

.news, {
  background-color: $grey-background;
  &Wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &Content {
    width: 33%;
    text-align: left;
    @media only screen and (max-width: 900px) {
      width: 100%;
      text-align: center;
    }
    h2 {
      @include font-title;
    }
    span {
      font-size: 1.5rem;
      font-style: italic;
    }
  }
  .title {
    background-color: $grey-background;
    z-index: 2;
    padding-bottom: 4rem;
  }
  .cardsContainer {
    display: flex;
    overflow: hidden;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  .newsContainer {
    display: flex;
    padding-bottom: 2rem;
    overflow: hidden;
    @media only screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
.row {
  margin: 0;
}
