@import './../scss/variables';
@import './../scss/mixins';

.person {
  background-image: radial-gradient(ellipse at top, #171d23, black);
  color: $white;
  border-radius: .8rem;
  margin: 3rem;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;

  @media only screen and (min-width: 800px) {
    flex-direction: row;
  }
  &Content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem;
    @media only screen and (min-width: 800px) {
      width: 40%;
    }
    p {
      font-size: 3rem;
      font-weight: lighter;
      line-height: 1.2em;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 2.5rem;
      font-weight: bold;
    }
    span {
      font-style: italic;
      font-size: 1.3rem;
    }
    button {
      margin-top: 2rem;
      @include primary-button;
      width: 15rem;
      padding: .8rem 1rem;
      display: none;
      @media only screen and (min-width: 800px) {
        display: block;
      }
    }
  }
  &Image {
    display: flex;
    @media only screen and (min-width: 800px) {
      width: 60%;
    }
    img {
      flex-grow: 1;
      min-height: 70rem;
    }
  }
}
