@import "src/scss/variables";
@import "src/scss/mixins";

header {
  @include container-position;
  padding: 1.5rem 0;
  background-color: $secondary-red;
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigationItems {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      padding: 0;
      .navigationItem {
        font-size: 2rem;
        cursor: pointer;
        color: $white;
        font-weight: lighter;
        transition: all .4s;
          &:not(:last-child) {
            margin-right: 2rem;
          }
        &:hover {
          color: $butterScotch;
        }
      }
    }
    .logo {
      align-self: center;
      justify-self: center;
      width: 25rem;
      height: auto;
    }
  }
}






