$primary-green: #5e741f;
$secondary-green: #cfd564;
$tertiary-green: #eef0a9;
$primary-red: #c63a2a;
$white: white;
$black: #171d23;

$grey-background: #f1f1f1;

$font: 'Open Sans', sans-serif;

$max-width: 130rem;

$carousel-transition: transform 2s ease, opacity .5s ease-out;
