//$primary-green: #5e741f;
$primary-green: #4DAB77;
//$primary-green: #6FBE9C;
$secondary-green: #cfd564;
$tertiary-green: #eef0a9;
$primary-red: #d75b66;
//$primary-red: #bd3e85;
//$primary-red: #c63a2a;
//$primary-red: #741F5E;
//$primary-red: #AB4D81;
//$primary-red: #c63a2a;
$white: white;
//$black: #1F7460;
$black: #1F5E74;
//$black: #4D52AB;
//$black: #38424C;
//$black: #171d23;
//$gold: #ABA64D;

//$primary-green: #00743f;
//$primary-red: #f2a104;
$white: #fcfdfe;
$black: #192e5b;



$grey-background: #f1f1f1;

$font: 'Open Sans', sans-serif;

$max-width: 130rem;

$carousel-transition: transform 2s ease, opacity .5s ease-out;
